{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealth Wise - Forgot Password</title>
    <link rel="stylesheet" href="{% static 'forgot-password.css' %}">
</head>
<body>
    <div class="background">
        <img src="{% static 'Back.jpg' %}" alt="">
    </div>
    <div class="container">
       
        <div class="form-container">
            <form class="form" method="POST">
                {% csrf_token %}
                <h1>Reset Password</h1>
                <p class="description">Enter your email address</p>
                {{forgot_password_form.as_p}}
                <button type="submit" name="reset">Submit</button>
                <div class="links">
                    <a href="{% url 'signup' %}" class="back-link">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>