:root {
    --primary-green: #00ff00;
    --secondary-green: #00cc00;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --text-color: #ffffff;
    --border-color: #2a2a2a;
    --hover-bg: #2c2c2c;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:var(--dark-bg); /* Dark background */
    color: #F3F4F6; /* Light text color */
    overflow: hidden;
}
.hg{
    text-decoration-color: #00ff00;
}



.button-dynamic {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-green);
    color: var(--text-color);
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-dynamic:hover {
    background-color: var(--hover-bg);
    transform: scale(1.05);
}

.input-dynamic {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-green);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-dynamic:hover {
    background-color: var(--hover-bg);
    transform: scale(1.05);
}